[submodule "Cloud/GCP/gke-ilion"]
	path = Cloud/GCP/gke-ilion
	url = https://github.com/vega-star/gke-ilion.git
[submodule "Games/Godot/godot-strata"]
	path = Games/Godot/godot-strata
	url = https://github.com/vega-star/godot-strata.git
[submodule "Games/Godot/lightkeepers"]
	path = Games/Godot/lightkeepers
	url = https://github.com/vega-star/lightkeepers.git
